:root {
  --fuente-encabezados: "Poppins", sans-serif;
  --fuente-parrafos: "Open Sans", sans-serif;
  --light-color: #ffffff;
  --dark-color: #000000;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--light-color);
  color: var(--dark-color);
  margin: 5px 50px;
  line-height: 1.4;
  font-family: var(--fuente-parrafos);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fuente-encabezados);
  text-transform: uppercase;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

.p-t {
  padding-top: 1.5rem;
}

.m-b {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

span {
  color: cornflowerblue;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: var(--max-width);
  /* border: 1px solid #000; */
  /* box-shadow: 3px 3px 3px 3px #555555; */
  padding: 2rem;
}

i {
  color: cornflowerblue;
  font-size: 2rem;
  font-weight: 700;
}

#nombre-profesion {
  margin-bottom: 1rem;
}

#nombre-profesion h1 {
  font-size: 3rem;
  font-weight: 700;
}

#nombre-profesion h2 {
  font-size: 2rem;
  font-weight: 700;
}

hr {
  margin-bottom: 1rem;
  border: 1.5px solid cornflowerblue;
}

.encabezado-secciones {
  font-size: 2rem;
  background-color: cornflowerblue;
  color: var(--light-color);
  padding: 1rem;
  border-radius: 10px;
}

.datos-personales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}

.persona {
  line-height: 1.6;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.datos-academicos {
  font-size: 1.6rem;
  line-height: 1.6;
}

.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trabajos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datos-conocimientos {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.desarrollo-web {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

.otras-tecnologias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

.experiencia-profesional {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.empresa {
  margin-bottom: 1.5rem;
  text-align: center;
}

.valores {
  font-size: 1.6rem;
}

.valores p {
  text-align: center;
}

.hobbies {
  font-size: 1.6rem;
}

.hobbies p {
  text-align: center;
}
